@import url(../../theme);

.portfolioWrapper {
  padding-top: 114px;
  background: @brand-primary;
}

.portfolio {
  margin: 0;
  padding: 120px 0 0;
  width: 100%;
  background: @brand-primary;
  border-bottom: 3px solid @brand-primary;

  .title {
    text-align: left;
    color: @white;
    margin: 0;
    padding: 100px 70px 60px;
    font-size: 34px;
    font-weight: 400;
    width: 100%;
    background: @portfolio-primary;
    border-top: 2px solid @brand-tertiary;
    position: relative;
    overflow: hidden;

    small {
      display: block;
      font-size: 14px;
      color: @generic-text;
      font-weight: 300;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 200px;
      height: 5px;
      border-top: 1px solid @brand-secondary;
      border-bottom: 1px solid @brand-secondary;
      .transform(rotate(-45deg));
    }

    &:before {
      left: -50px;
      top: 0;
    }

    &:after {
      right: -50px;
      bottom: 0;
    }
  }

  .itemsPortfolio {
    padding: 0 25px;
    .clearfix();
  }

  .halfSide {
    background: @brand-primary;

    &:last-of-type {
      height: 515px;
    }
  }

  .itemsClient {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .itemClient {
    max-width: 100%;
    height: 60px;
    cursor: pointer;
    background: @portfolio-primary;
    border-bottom: 2px solid @brand-primary;
    border-right: 2px solid @brand-primary;
    position: relative;

    .itemContent {
      width: 100%;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
      background: @portfolio-primary;
      border-bottom: 2px solid @brand-primary;
      border-right: 2px solid @brand-primary;
      display: flex;
      align-items: center;
      .transition(all .6s ease);
      overflow: hidden;
    }

    &:first-of-type {
      border-top: 2px solid @brand-primary;
    }

    span {
      position: relative;
      height: 100%;
      color: @generic-text;
      display: block;
      vertical-align: middle;
      padding: 20px 25px 0;
      .transition(color .3s ease);

      &:first-of-type {
        color: @generic-text;
        border-left: 2px solid @brand-primary;
        border-right: 2px solid @brand-primary;
      }
    }

    &:hover {
      span:last-of-type {
        color: @white;
      }
    }

    &.active {
      background: @portfolio-shadow;
      border-left: 2px solid @brand-primary;
      
      span {
        color: @white;
      }

      .itemContent {
        top: -11px;
        left: -10px;
        background: @portfolio-secondary;

        &:after {
          content: '';
          position: absolute;
          width: 100px;
          height: 5px;
          border-top: 1px solid @brand-primary;
          border-bottom: 1px solid @brand-primary;
          .transform(rotate(-45deg));
          right: -25px;
          bottom: 0;
        }
      }
    }
  }

  .containerImagePortfolio {
    width: 100%;
    height: 100%;
    background: @brand-tertiary;

    .imagePortfolio {
      width: 100%;
      height: 100%;
      background: no-repeat top left;
      background-size: cover;
      .transition(background-image .3s ease);
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .2) url(../../assets/img/bg-portfolio.png) repeat;
      }
    }
  }
}

@media screen and (max-width: @screen-sm-max) {
  .portfolioWrapper {
    padding-top: 0;
  }

  .portfolio {
    padding-top: 40px;
  }
}