@import url(../../theme);

.aboutWrapper {
  padding-top: 94px;
}

.about {
  margin: 100px 0;
  .clearfix();

  .contentAbout {
    width: 63%;
    float: left;
  }

  .description {
    width: 100%;
    margin-top: 30px;
    padding: 0;
    font-family: @font-secondary;
    font-size: 18px;
    font-style: italic;
    .clearfix();

    > div:first-of-type {
      text-align: right;

      * {
        font-weight: 600;
        color: @generic-text;
      }
    }

    > div:last-of-type {
      * {
        font-weight: 400;
        color: @generic-quote;
      }
      strong {
        font-weight: 600;
        color: @generic-text;
      }
    }

    p {
      font-size: 16px;
      line-height: 20px;
    }

    .quoteText {
      display: block;

      i {
        color: @generic-subtext;
        font-weight: 600;
      }
    }

    .genericSubtitle {
      margin-top: 0;
    }
  }

  .pic {
    margin-top: 40px;
    width: 32%;
    margin-left: 20px;
    float: left;
  }

  .felix {
    margin-top: 30px;
    margin-right: 80px;
    text-align: left;
  }
}

@media screen and (max-width: @screen-sm-max) {
  .aboutWrapper {
    padding: 0;
  }
  .about {
    margin-top: 20px;

    .contentAbout {
      width: 100%;
    }

    .description {
      div {
        text-align: left !important;
      }
    }

    .pic {
      width: 80%;
      margin-top: 20px;
    }
  }
}